<style>
    .cp-responses-container {
        display: flex;
        align-items: center;
        padding-top: 10px; 
    }

    .cp-responses-button {
        padding: 5px 15px;
        background-color: rgb(47, 150, 240);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .cp-responses-message {
        text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.25);
        color: darkgray;
    }

    .cp-spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        animation: spin 0.8s linear infinite;
        margin: 5px;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="cp-responses-container">
    <span id="cpResponsesMessage" class="cp-responses-message">
    </span>
</div>