<style>
    .voip__call-menu {
        position: fixed; 
        left: 65px; 
        right: 0; 
        bottom: 0; 
        z-index: 100; 
        height: 65px;
        background: var(--palette-left-menu-background-primary);
        color: #fff;
    }
    
    .voip__call-menu .voip__call-footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .voip__call-menu .voip__call-status {
        padding-left: 1rem;
    }

    .voip__call-menu .voip__call-options,
    .voip__call-menu .voip__call-settings {
        display: flex;
        align-items: center;
    }

    .voip__call-menu .voip__talk-time {
        font-size: 1.5rem;
        padding-right: 1rem;
    }

    .voip__call-menu .voip__call-btn {
        height: 65px;
        width: 65px;
        cursor: pointer;
    }

    .voip__call-menu .voip__call-mute-btn,
    .voip__call-menu .voip__call-settings-btn {
        background: #1d3b52;
        fill: #839aa6;
    }

    .voip__call-menu .voip__call-mute-btn:hover,
    .voip__call-menu .voip__call-settings-btn:hover {
        background: var(--palette-left-menu-background-primary);;
        fill: #fff;
    }

    .voip__call-menu .voip__hangup-phone-btn {
        background: #e7767e;
        stroke: #fff;
    }

    .voip__call-menu .voip__hangup-phone-btn:hover {
        background: #e42525;
        stroke: #ddd;
    }

    .voip__call-menu .voip__call-settings-options {
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 200px;
        padding: 1rem;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    .voip__call-menu .voip__call-settings-options label {
        color: #000;
    }

    .voip__call-menu select {
        width: 100%;
        margin: 6px 0 8px 0;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper {
        margin: 0 1rem;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl {
        display: none;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:after,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:before,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *:after,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *:before,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn {
        box-sizing: border-box;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:after::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:before::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *:after::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *:before::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn::-moz-selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl::selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:after::selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:before::selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *::selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *:after::selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl *:before::selection,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn::selection {
        background: none;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 60px;
        height: 30px;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn:after,
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn:after {
        left: 0;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl + .tgl-btn:before {
        display: none;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl:checked + .tgl-btn:after {
        left: 50%;
    }
    
    .voip__call-menu .voip__do-not-disturb-wrapper .tgl-light + .tgl-btn {
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all 0.4s ease;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl-light + .tgl-btn:after {
        border-radius: 50%;
        background: #fff;
        transition: all 0.2s ease;
    }

    .voip__call-menu .voip__do-not-disturb-wrapper .tgl-light:checked + .tgl-btn {
        background: #ddd;
    }
</style>

<div class="voip__call-menu" style="display: none;">
    <div class="voip__call-footer">
        <div class="voip__call-remote-audio" style="display: none;">

        </div>
        <div class="voip__call-status">
            <div class="voip__call-type"></div>
            <div class="voip__call-caller-id"></div>
        </div>
        <div class="voip__call-settings">
            <div class="voip__call-settings-options" style="display: none;">
                <label for="mic-setting">Micrófono</label>
                <select name="voip__mic-setting" id="mic-setting" class="voip__mic-setting">
                </select>

                <label for="speaker-setting">Altavoz</label>
                <select name="voip__speaker-setting" id="speaker-setting" class="voip__speaker-setting">
                </select>
            </div>
            <label for="voip__do-not-disturb">No molestar</label>
            <div class="voip__do-not-disturb-wrapper">
                <input class="tgl tgl-light" id="voip__do-not-disturb" type="checkbox"/>
                <label class="tgl-btn" for="voip__do-not-disturb">
            </div>
            <button class="voip__call-btn voip__call-settings-btn">
                <svg height="30" width="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2788 2.15224C13.9085 2 13.439 2 12.5 2C11.561 2 11.0915 2 10.7212 2.15224C10.2274 2.35523 9.83509 2.74458 9.63056 3.23463C9.53719 3.45834 9.50065 3.7185 9.48635 4.09799C9.46534 4.65568 9.17716 5.17189 8.69017 5.45093C8.20318 5.72996 7.60864 5.71954 7.11149 5.45876C6.77318 5.2813 6.52789 5.18262 6.28599 5.15102C5.75609 5.08178 5.22018 5.22429 4.79616 5.5472C4.47814 5.78938 4.24339 6.1929 3.7739 6.99993C3.30441 7.80697 3.06967 8.21048 3.01735 8.60491C2.94758 9.1308 3.09118 9.66266 3.41655 10.0835C3.56506 10.2756 3.77377 10.437 4.0977 10.639C4.57391 10.936 4.88032 11.4419 4.88029 12C4.88026 12.5581 4.57386 13.0639 4.0977 13.3608C3.77372 13.5629 3.56497 13.7244 3.41645 13.9165C3.09108 14.3373 2.94749 14.8691 3.01725 15.395C3.06957 15.7894 3.30432 16.193 3.7738 17C4.24329 17.807 4.47804 18.2106 4.79606 18.4527C5.22008 18.7756 5.75599 18.9181 6.28589 18.8489C6.52778 18.8173 6.77305 18.7186 7.11133 18.5412C7.60852 18.2804 8.2031 18.27 8.69012 18.549C9.17714 18.8281 9.46533 19.3443 9.48635 19.9021C9.50065 20.2815 9.53719 20.5417 9.63056 20.7654C9.83509 21.2554 10.2274 21.6448 10.7212 21.8478C11.0915 22 11.561 22 12.5 22C13.439 22 13.9085 22 14.2788 21.8478C14.7726 21.6448 15.1649 21.2554 15.3694 20.7654C15.4628 20.5417 15.4994 20.2815 15.5137 19.902C15.5347 19.3443 15.8228 18.8281 16.3098 18.549C16.7968 18.2699 17.3914 18.2804 17.8886 18.5412C18.2269 18.7186 18.4721 18.8172 18.714 18.8488C19.2439 18.9181 19.7798 18.7756 20.2038 18.4527C20.5219 18.2105 20.7566 17.807 21.2261 16.9999C21.6956 16.1929 21.9303 15.7894 21.9827 15.395C22.0524 14.8691 21.9088 14.3372 21.5835 13.9164C21.4349 13.7243 21.2262 13.5628 20.9022 13.3608C20.4261 13.0639 20.1197 12.558 20.1197 11.9999C20.1197 11.4418 20.4261 10.9361 20.9022 10.6392C21.2263 10.4371 21.435 10.2757 21.5836 10.0835C21.9089 9.66273 22.0525 9.13087 21.9828 8.60497C21.9304 8.21055 21.6957 7.80703 21.2262 7C20.7567 6.19297 20.522 5.78945 20.2039 5.54727C19.7799 5.22436 19.244 5.08185 18.7141 5.15109C18.4722 5.18269 18.2269 5.28136 17.8887 5.4588C17.3915 5.71959 16.7969 5.73002 16.3099 5.45096C15.8229 5.17191 15.5347 4.65566 15.5136 4.09794C15.4993 3.71848 15.4628 3.45833 15.3694 3.23463C15.1649 2.74458 14.7726 2.35523 14.2788 2.15224ZM12.5 15C14.1695 15 15.5228 13.6569 15.5228 12C15.5228 10.3431 14.1695 9 12.5 9C10.8305 9 9.47716 10.3431 9.47716 12C9.47716 13.6569 10.8305 15 12.5 15Z" fill="#ffffff"></path> </g></svg>
            </button>
        </div>
        <div class="voip__call-options" style="display: none;">
            <span class="voip__talk-time">00:00</span>
            <button class="voip__call-btn voip__call-mute-btn">
                <svg height="30px" width="30px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M436.418,244.958v-26.706h-35.395v26.706c-0.021,20.719-4.369,40.396-12.217,58.212l26.432,26.44 C428.735,304.384,436.403,275.558,436.418,244.958z"></path> <path class="st0" d="M336.135,244.958V80.124C336.121,35.926,300.209,0.014,256.003,0c-44.184,0.014-80.11,35.926-80.124,80.124 v10.119l160.068,160.076C336.063,248.544,336.135,246.769,336.135,244.958z"></path> <path class="st0" d="M393.815,361.087c0.202-0.237,0.431-0.453,0.633-0.69l-25.117-25.125c-0.194,0.244-0.431,0.46-0.626,0.704 l-46.311-46.318c0.18-0.259,0.396-0.489,0.568-0.755L175.88,141.843v1.301L84.608,51.873l-25.8,25.793L175.88,194.737v50.22 c0.014,44.184,35.94,80.096,80.124,80.11c14.423-0.007,27.928-3.888,39.627-10.579l46.692,46.692 c-24.169,18.01-53.914,28.776-86.319,28.776c-40.001,0-76.164-16.228-102.482-42.531c-26.303-26.318-42.531-62.466-42.531-102.468 v-26.706H75.597v26.706c0.028,91.494,68.438,167.033,156.828,178.675V512h47.188v-88.367c32.929-4.348,62.998-17.672,87.886-37.277 l59.901,59.901l25.793-25.793L393.815,361.087z"></path> </g> </g></svg>
            </button>
            <button class="voip__call-btn voip__hangup-phone-btn">
                <svg height="30px" width="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.47542 12.8632C4.44449 11.2623 3.67643 9.54134 3.17124 7.76144C3.01103 7.19699 2.93093 6.91477 2.9297 6.50182C2.92833 6.0436 3.08969 5.42311 3.31412 5.0236C3.51636 4.66357 3.78117 4.39876 4.3108 3.86913L4.46843 3.7115C4.99987 3.18006 5.2656 2.91433 5.55098 2.76999C6.11854 2.48292 6.7888 2.48292 7.35636 2.76999C7.64174 2.91433 7.90747 3.18006 8.43891 3.7115L8.63378 3.90637C8.98338 4.25597 9.15819 4.43078 9.27247 4.60656C9.70347 5.26945 9.70347 6.12403 9.27247 6.78692C9.15819 6.9627 8.98338 7.1375 8.63378 7.4871C8.51947 7.60142 8.46231 7.65857 8.41447 7.72539C8.24446 7.96281 8.18576 8.30707 8.26748 8.58743C8.29048 8.66632 8.32041 8.72867 8.38028 8.85337C8.50111 9.10503 8.62956 9.35395 8.76563 9.59979M11.1817 12.8181L11.2266 12.8632C12.4282 14.0648 13.7869 15.0136 15.2365 15.7096C15.3612 15.7694 15.4235 15.7994 15.5024 15.8224C15.7828 15.9041 16.127 15.8454 16.3644 15.6754C16.4313 15.6275 16.4884 15.5704 16.6027 15.4561C16.9523 15.1064 17.1271 14.9316 17.3029 14.8174C17.9658 14.3864 18.8204 14.3864 19.4833 14.8174C19.6591 14.9316 19.8339 15.1064 20.1835 15.4561L20.3783 15.6509C20.9098 16.1824 21.1755 16.4481 21.3198 16.7335C21.6069 17.301 21.6069 17.9713 21.3198 18.5389C21.1755 18.8242 20.9098 19.09 20.3783 19.6214L20.2207 19.779C19.6911 20.3087 19.4263 20.5735 19.0662 20.7757C18.6667 21.0001 18.0462 21.1615 17.588 21.1601C17.1751 21.1589 16.8928 21.0788 16.3284 20.9186C13.295 20.0576 10.4326 18.4332 8.04466 16.0452L7.99976 16.0001M20.9996 3.00012L2.99961 21.0001" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </button>
        </div>
    </div>
</div>